
.mi-tabla {
    width: 100%;
    border-collapse: collapse; 
    margin-top: 20px;
}
.mi-tabla th, .mi-tabla td {
    padding: 10px 15px;      
    border: 1px solid #ccc;  
    text-align: left;
}
.mi-tabla th {
    background-color: #f0f0f0; 
}