<h3>Tabla de Actividades</h3>

@if (dataSource.length === 0) {
    <p>No hay datos para mostrar</p>
} @else {
    <table class="mi-tabla">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Categoría</th>
                <th>Precio</th>
            </tr>
        </thead>
        
        <tbody>
            @for (item of dataSource; track item.id) {
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.nombre }}</td>
                    <td>{{ item.categoria }}</td>
                    <td>${{ item.precio }}</td>
                </tr>
            }
        </tbody>
    </table>
}